<nav>
    <div>
        <a href="/">Tech Blog</a>
        <p>Welcome to this Blog</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">Create Blog</a></li>
    </ul>
</nav>