<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>this is my about page</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>